# Shared tasks for Astro website packages
# https://moonrepo.dev/docs/config/tasks
# yaml-language-server: $schema=https://moonrepo.dev/schemas/tasks.json

$schema: https://moonrepo.dev/schemas/tasks.json

extends: "./typescript-application.yml"

fileGroups:
  sources:
    - "src/**/*"
  public:
    - "public/**/*"

tasks:
  build:
    command:
      - "npm"
      - "run"
      - "build"
    inputs:
      - "@globs(sources)"
      - "@globs(public)"
      - "tsconfig*.json"
      - "astro.config.*"
    outputs:
      - "dist"
      - ".astro"

  wrangler-types:
    command:
      - "npm"
      - "run"
      - "wrangler:types"
    inputs:
      - "wrangler.json"
    outputs:
      - "worker-configuration.d.ts"
    options:
      cache: false
